[submodule "co-coding"]
	path = co-coding-challenges
	url = https://github.com/planet-devo/co-coding-challenges.git
	branch = main
[submodule "solveit"]
	path = solveit
	url = https://github.com/planet-devo-k/solveit.git
